.button1,.button2{
	text-decoration:none;
	color:rgb(0, 87, 255);
	padding:8px;
}
.button1:hover,.button2:hover{
	text-decoration:none;
	color:rgb(0, 171, 12);
	padding:8px;
	box-shadow:0px 0px 4px blue;
	border-radius:7px;
}
header{
	background:linear-gradient(to right,white,whitesmoke,blue);
	padding:15px;
}    
body{
	background:blue;
	color:white;
	margin:0px;
	font-family:cursive;
	
}
input:invalid{
	background:red;
}
input:valid{
	background:lightgreen;
}
input[type="submit"]{
	padding:10px;
	background:linear-gradient(to right,purple,red);
    border:none;
}